<!DOCTYPE html>
    <head>
        <title>TODO List</title>
    </head>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0;
            border-right: 100px solid #9d9d9d;
            border-left: 100px solid #9d9d9d;
        }

        h1 {
            text-decoration: underline;
            margin-top: 40px;
        }

        h3 {
            margin: 0;
        }

        .parent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        .break {
            margin-top: 25px;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .item {
            display: flex;
            gap: 5px;
            align-items: center;
        }

        input[type="text"] {
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        label {
            font-size: 16px;
        }

        button {
            padding: 5px 10px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        button#removeButton:enabled {
            background-color: indianred;
        }

        button#removeButton:enabled:hover {
            background-color: rgb(150, 69, 69);
        }

        button#addButton:enabled {
            background-color: dodgerblue;
        }

        button#addButton:enabled:hover {
            background-color: rgb(23, 109, 195);
        }

        button:disabled {
            background-color: #ccc;
        }

        button:disabled:hover {
            background-color: #979797;
        }


    </style>

    <body>
        <div class="parent">
            <h1>TODO List</h1>

            <form action="/add" method="post">
                <input type="text" id="task" name="task" placeholder="Enter your task here" oninput="checkInput()">
                <button type="submit" id="addButton" disabled>Add Task</button>
            </form>
            <button id="removeButton" disabled>Remove Completed Tasks</button>

            <div class="parent break">
                <h3>Tasks to be completed:</h3>
                <div class="list">
                    <% if (tasks.length === 0) { %>
                        <p>No tasks to complete!</p>
                    <% } else { %>
                        <% tasks.forEach((task) => { %>
                            <div class="item">
                                <input
                                    type="checkbox"
                                    id="<%= task.id %>"
                                    name="<%= task.id %>"
                                    value="<%= task.text %>"
                                    onchange="checkList()">
                                <label for="<%= task.id %>"><%= task.text %></label>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>

    <script>
        function checkInput() {
            const input = document.getElementById("task").value;
            const addButton = document.getElementById("addButton");
            addButton.disabled = input.trim() === "";
        }

        function checkList() {
            removeButton.disabled = document.querySelectorAll("input[type='checkbox']:checked").length === 0;
        }

        document.getElementById("removeButton").addEventListener("click", () => {
            const checkedTasks = document.querySelectorAll("input[type='checkbox']:checked");
            const tasksToRemove = [...checkedTasks].map((task) => task.id);
            fetch("/remove", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ tasksToRemove })
            }).then(() => {
                window.location.reload();
            }).catch((error) => {
                console.error("Error:", error);
            });
        });
    </script>
</html>